html
{
    font-family: Helvetica, sans-serif;
}

body
{
    margin: 5%;
}
nav
{
    display: inline-block;
}
nav li
{
    display: inline-block;
    color: green;
    padding: 2em;
}

header
{
    display: flex;
    border-bottom: 2px solid black;
}

header h1
{
    text-transform: uppercase;
    font-size: 3em;
}