html { font-family: Helvetica, sans-serif; }

img { width: 500px; }

ul {  list-style: square; }

body
{
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51) ;
    margin: 3em;
    max-width: 900px;
    line-height: 1.5em;
}

article{
    display: inline-block;
}

aside {
  display: inline-block;
}