*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    background-color: rgb(238, 238, 238);
    align-items: center;
    justify-content: center;
    min-height: 100hv;
}

.container
{
    display: flex;
    gap: 2em;
}

.container img{
    width: 5em;
    height: 30em;

    display: flex;
    flex: 0 0 auto;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}

.container img:hover
{
    width: 30em;
}